<div class="container-fluid">
  <div class="row mb-3">
    <div class="col">
      <!-- Search Input -->
      <input type="text" class="form-control mb-3" [(ngModel)]="searchStationText"
             placeholder="Search Medicine,Sold Name,Sale Date,Customer Name,Phone Number..."/>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th>Station Name</th>
        <th>Location</th>
        <th>PlatformCount</th>
        <th>isJunction</th>
        <th>CreatedDate</th>
        <th>UpdatedDate</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let train of filteredData()">
        <!--<tr *ngFor="let train of trainDetails">-->
        <td>{{ train.stationName }}</td>
        <td>{{ train.location }}</td>
        <td>{{ train.platformCount }}</td>
        <td>{{ train.isJunction }}</td>
        <td>{{ train.createdDate }}</td>
        <td>{{ train.updatedDate }}</td>
        <td style="text-align: center">
          <button class="btn btn-primary btn-sm">Update</button>&nbsp;
          <button class="btn btn-primary btn-sm">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
