<div class="container-fluid">
  <div class="row mb-3">
    <div class="col">
      <!-- Search Input -->
      <input type="text" class="form-control mb-3" [(ngModel)]="searchStationText"
             placeholder="Search Medicine,Sold Name,Sale Date,Customer Name,Phone Number..."/>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th (click)="sortTable('trainNumber')">Number</th>
        <th (click)="sortTable('trainName')">Name</th>
        <th (click)="sortTable('source')">Source</th>
        <th (click)="sortTable('destination')">Destination</th>
        <th (click)="sortTable('scheduleAt')">StartAt</th>
        <th>Duration</th>
        <th>Seats</th>
        <th>Fare</th>
        <th>Halts</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let train of filteredData()">
        <td>{{ train.trainNumber }}</td>
        <td>{{ train.trainName }}</td>
        <td>{{ train.source }}</td>
        <td>{{ train.destination }}</td>
        <td>{{ train.scheduleAt }}</td>
        <td>{{ train.duration }}</td>
        <td>{{ train.totalSeats }}</td>
        <td>{{ train.fare }}</td>
        <td>{{ train.halts }}</td>
        <td style="text-align: center">
          <button class="btn btn-primary btn-sm" (click)="scheduleTrain(train)">Book</button>&nbsp;
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-xxl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupModalLabel">Schedule Train</h5>
        <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
