<div class="container-fluid">
  <div class="row mb-3">
    <div class="col">
      <!-- Search Input -->
      <input type="text" class="form-control mb-3" [(ngModel)]="searchStationText"
             placeholder="Search Medicine,Sold Name,Sale Date,Customer Name,Phone Number..."/>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th (click)="sortTable('trainNumber')">Number</th>
        <th (click)="sortTable('trainName')">Name</th>
        <th (click)="sortTable('source')">Source</th>
        <th (click)="sortTable('destination')">Destination</th>
        <th (click)="sortTable('scheduleAt')">StartAt</th>
        <th>Duration</th>
        <th>Seats</th>
        <th>Fare</th>
        <th>Halts</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let train of filteredData()">
        <td>{{ train.trainNumber }}</td>
        <td>{{ train.trainName }}</td>
        <td>{{ train.source }}</td>
        <td>{{ train.destination }}</td>
        <td>{{ train.scheduleAt }}</td>
        <td>{{ train.duration }}</td>
        <td>{{ train.totalSeats }}</td>
        <td>{{ train.fare }}</td>
        <td>{{ train.halts }}</td>
        <td style="text-align: center">
          <!--<button class="btn btn-primary btn-sm" (click)="scheduleTrain(train)">Book</button>-->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  (click)="resetForm(train)"
                  data-bs-target="#bookTicketModal">
            Book
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="bookTicketModal">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Book Ticket</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="bookTicketForm">
          <div class="mb-3">
            <label for="seats" class="form-label">Number of Seats</label>
            <input
              type="number"
              id="seats"
              formControlName="numberOfSeats"
              class="form-control"
              (input)="onSeatsChange()"/>
          </div>

          <div class="table-container">
            <table class="table table-bordered mt-3">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody formArrayName="passengers">
              <tr *ngFor="let passenger of passengers.controls; let i = index" [formGroupName]="i">
                <td>{{ i + 1 }}</td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                    placeholder="Enter name"/>
                </td>
                <td>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="age"
                    min="1"
                    (keydown)="preventInvalidKey($event)"
                    placeholder="Enter age"/>
                </td>
                <td>
                  <select class="form-select" formControlName="gender">
                    <option value="">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removePassenger(i)"
                    *ngIf="passengers.length > 1">
                    Remove
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





