
<router-outlet />

<!--
sudo ng new railway-rsv-ui --standalone
npm install bootstrap --save
ng g c components/login --standalone
ng g c components/register --standalone
ng g c home --standalone --route=home
ng g c components/home --standalone
ng g c components/home/dashboard --standalone
ng g c components/home/station-details --standalone
ng g c components/home/train-details --standalone

ng g s services/register
ng g s utils/DateUtils

ng g interceptor interceptors/auth
ng g interceptor interceptors/error

-->

