<div class="container-fluid">
  <div class="row mb-3">
    <div class="col">
      <!-- Search Input -->
      <input type="text" class="form-control mb-3" [(ngModel)]="searchTrainText"
             placeholder="Search Medicine,Sold Name,Sale Date,Customer Name,Phone Number..."/>
    </div>
  </div>

  <div class="table-wrapper">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th>Train#</th>
        <th>Train Name</th>
        <th>Source</th>
        <th>Destination</th>
        <th>DepartureTime</th>
        <th>ArrivalTime</th>
        <th>Duration</th>
        <th>TotalSeats</th>
        <th>Fare</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let train of filteredData()">
        <td>{{ train.trainNumber }}</td>
        <td>{{ train.trainName }}</td>
        <td>{{ train.source }}</td>
        <td>{{ train.destination }}</td>
        <td>{{ train.departureTime }}</td>
        <td>{{ train.arrivalTime }}</td>
        <td>{{ train.duration }}</td>
        <td>{{ train.totalSeats }}</td>
        <td>{{ train.fare }}</td>
        <td style="text-align: center">
          <button class="btn btn-primary btn-sm">Schedule</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
